body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 280px; /* Más pequeña aún */
  padding: 15px; /* Reducimos más el padding */
  margin: 10px;  /* Ajustamos el margen */
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.content {
  margin: 10px 0; /* Reducimos el margen */
}

.design-tag {
  background-color: #E8D6FC;
  padding: 3px 8px; /* Reducimos aún más el padding interno */
  display: inline-block;
  border-radius: 12px; /* Borde más pequeño */
  color: #5E239D;
  font-family: Arial, sans-serif;
  font-size: 11px; /* Fuente más pequeña */
  text-align: center;
}

h1 {
  font-size: 18px; /* Reducimos el tamaño del título */
  color: #333;
  margin: 0 0 8px;
}

p {
  color: #555;
  font-size: 13px; /* Reducimos más el tamaño del texto */
  line-height: 1.4;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 10px 0; /* Reducimos el espacio alrededor de la línea */
  width: 100%;
}

.footer {
  margin-top: 10px; /* Reducimos el margen superior del footer */
  text-align: left;
  color: #333;
  font-weight: bold;
  font-size: 13px; /* Fuente más pequeña en el footer */
}
